---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="flex flex-col justify-evenly items-center h-dvh">
			<div>
				<h1 class="text-4xl text-center">Arregla Tus Altavozes</h1>
				<h2 class="text-2xl text-center">Expulsa el agua de tus altavozes facilmente usando este sonido de baja frequencia 🔊</h2>	
			</div>
			<button id="soundButton" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700">
				Activar Sonido 💨💦
			</button>	
		</main>
		<Footer />
	</body>
</html>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		const button = document.getElementById('soundButton');
		
		if (button) {
			const audio = new Audio('/fixspeaker.mp3');

			button.addEventListener('click', function() {
				if (audio.paused) {
					audio.play();
					button.textContent = "Pausar Sonido 💨💦";
				} else {
					audio.pause();
					button.textContent = "Activar Sonido 💨💦";
				}
			});
		} else {
			console.error('Button with ID "soundButton" not found.');
		}
	});
</script>
