<section class="max-w-4xl mx-auto">
    <h2 class="text-center mb-10">¿Cómo funciona?</h2>
    <p class="mb-32 px-10">
        El sistema de limpieza de altavoces con sonido en smartphones utiliza ondas sonoras de baja frecuencia (100-200 Hz) para hacer vibrar el altavoz. Estas vibraciones empujan el agua atrapada hacia afuera, ayudando a secar el altavoz después de que el dispositivo se ha mojado o hundido en líquido. Es un método simple para eliminar pequeñas cantidades de agua, aunque no garantiza una limpieza total.
    </p>
</section>
