---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="m-0 px-2 md:px-4 bg-white shadow-[0_2px_8px_rgba(0,0,0,0.05)]">
	<nav class="sm:flex-row flex-col lg:max-w-5xl mx-auto flex items-center sm:justify-between justify-center">
		<h2 class="sm:py-0 py-4 m-0 text-3xl font-bold sm:font-semibold sm:text-xl"><a href="/">🔊 {SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Inicio</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>

<style>
	nav a {
		padding: 0.5em 0.5em;
		color: var(--black);
		border-bottom: 3px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
